@import url(https://fonts.googleapis.com/css?family=Roboto);
.container {
  position: relative;
  min-height: 100vh;
  font-family: roboto condensed;
  color: #fff;
}

.column {
  background-color: #783939;
}

.centerIt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
}

.pomodoro-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "title title" "settings-container settings-container" "timer-box timer-box" "start-stop reset" "credit credit";
}

.title {
  grid-area: title;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 4%;
}

#settings-container {
  grid-area: settings-container;
  background-color: #560000;
  padding: 2%;
  -moz-box-shadow: inset 0 2px 5px #000000;
  -webkit-box-shadow: inset 0 2px 5px #000000;
  box-shadow: inset 0 2px 5px #000000;
}

.timer-box {
  grid-area: timer-box;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 3px solid #CB793A;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 3px 1px #000;
  -webkit-box-shadow: 1px 1px 3px 1px #000;
  box-shadow: 1px 1px 3px 1px #000;
}

#start_stop {
  grid-area: start-stop;
}

#reset {
  grid-area: reset;
}

.credit {
  grid-area: credit;
  color: #CB793A;
}

#session-label, #break-label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.break-container *, .session-container * {
  font-size: 25px;
  font-weight: bold;
}

#session-decrement, #session-increment, #break-decrement, #break-increment {
  color: #fff;
}

#session-decrement:hover, #session-increment:hover, #break-decrement:hover, #break-increment:hover {
  color: #CB793A;
}

#timer-label {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

#time-left {
  font-size: 60px;
  font-weight: bold;
}

#reset, #start_stop {
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
  color: #fff;
  margin-bottom: 15%;
}

#reset:hover, #start_stop:hover {
  color: #CB793A;
  text-shadow: 1px 1px 3px 1px #000;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1461897104016-0b3b00cc81ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  }

  #root {
    background-color: rgba(50, 19, 37, 0.93);
  }
}
@media only screen and (max-width: 600px) {
  .container {
    background-color: #783939;
  }
}
